name: main

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  bump-semver:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Bump semver
        run: nix run .#bump-semver
