name: release

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Release
        run: nix run .#release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
