name: release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Create release
        run: nix run .#create-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
